In [8]:
import requests
import pandas as pd

url = "http://127.0.0.1:8050/api/molecules"
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    first_10_rows = df.head(10)
    print("First 10 rows retrieved via REST API:")
    display(first_10_rows)
else:
    print(f"Failed to retrieve data. Status code: {response.status_code}")

First 10 rows retrieved via REST API:

                 MoleculeUpacName  id
0                  Salicylic Acid   1
1                Acetic Anhydride   2
2  Acetylsalicylic Acid (Aspirin)   3
3                     Acetic Acid   4
4                   Sulfuric Acid   5
5             Glacial Acetic Acid   6
6                         Ethanol   7
7                        Methanol   8
8                           Water   9
9              Sodium Bicarbonate  10

In [9]:
inventory_url = "http://127.0.0.1:8050/api/inventory"
response = requests.get(inventory_url)

if response.status_code == 200:
    inventory_data = response.json()
    inventory_df = pd.DataFrame(inventory_data)
    first_10_inventory_rows = inventory_df.head(10)
    print("First 10 rows retrieved via REST API for inventory:")
    display(first_10_inventory_rows)
else:
    print(f"Failed to retrieve inventory data. Status code: {response.status_code}")

First 10 rows retrieved via REST API for inventory:

  MoleculeUpacName  amount  id
0         Methanol     500   1
1          Ethanol     300   2
2          Acetone     200   3
3          Toluene     150   4
4       Chloroform     100   5

In [7]:
# Example: Searching for inventory entries containing the substring 'aspirin'
search_query = "uen"
search_url = f"http://127.0.0.1:8050/api/inventory/search?q={search_query}"

response = requests.get(search_url)

if response.status_code == 200:
    search_data = response.json()
    search_df = pd.DataFrame(search_data)
    print(f"Results for the search query '{search_query}':")
    display(search_df)
else:
    print(f"Search failed. Status code: {response.status_code}")

Results for the search query 'uen':

  MoleculeUpacName  amount  id
0          Toluene     150   4