In [22]:
import pandas as pd
import pymysql

In [23]:
# 这里使用你的实际数据库连接信息
connection = pymysql.connect(host='den1.mysql6.gear.host',  # 数据库服务器地址
                             user='situation',              # 数据库登录用户名
                             password='aichem567.',         # 数据库登录密码
                             db='situation',                # 数据库名称
                             charset='utf8mb4',             # 编码格式，确保支持完整的 Unicode 字符
                             cursorclass=pymysql.cursors.DictCursor)

In [24]:
# SQL 查询语句
sql = "SELECT * FROM h8_chemical_inventory_usage;"

# 使用 pandas 的 read_sql 函数执行 SQL 查询并将结果存储在 DataFrame 中
df = pd.read_sql(sql, connection)

# 显示 DataFrame 的头部数据，以确认数据已正确加载
print(df.head())

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22040\4276777928.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

   id  amount_taken unit location    chemical      CAS            reason
0   1      187.8960    L    Lab_2  Chemical_D  50-00-0  initial purchase
1   2      475.4060   mg    Lab_2  Chemical_D  75-07-0  initial purchase
2   3      366.2650   ml    Lab_1  Chemical_A  64-17-5  initial purchase
3   4      299.7310   mg    Lab_1  Chemical_C  64-17-5  initial purchase
4   5       78.8533   mg    Lab_2  Chemical_A  67-56-1     Experiment_20

In [25]:
connection.close()