In [7]:
# -*- coding: utf-8 -*-
! pip install pymysql

import pymysql.cursors
import pandas as pd

host = 'den1.mysql6.gear.host'
db = 'situation'
usr = 'situation'
psword = 'cogni88.'

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.0)

In [8]:
# database connection
connection = pymysql.connect(
    host=host,
    user=usr,
    password=psword,
    database=db,
    charset="utf8mb4",
    cursorclass=pymysql.cursors.DictCursor,
           )

In [9]:
cursor = connection.cursor()

UserId = 'zzyyliu98'
sql ="SELECT * FROM situation.a1_results;"

    # with connection.cursor() as cursor:
    #   cursor.execute(sql % UserId)

cursor.execute(sql)
        # result for searching Databank
result = cursor.fetchall()
        # change result to dataframe
df_raw = pd.DataFrame(result, columns=[i[0] for i in cursor.description])

print(df_raw)

    ExperimentNumber  Weight  Yield                SampleDesc  QualityTest  \
0                  1     297   78.0   White crystalline solid            1
1                  2     488   70.0    Solid formation varies            1
2                  3     315   80.0  Speed of reaction varies            1
3                  4     120    NaN   Purity by melting point            0
4                  5     232   70.0      Degree of completion            1
..               ...     ...    ...                       ...          ...
56                 3      90   66.0                Compound B            0
57                 3     130   93.0                Compound C            1
58                 3     170   94.0                Compound A            1
59                 3      85   65.0                Compound B            0
60                 3     125   95.0                Compound C            1

    Spectrum_ID  ReactionTime
0           NaN           NaN
1           NaN           NaN
2           NaN           NaN
3           NaN           NaN
4           NaN           NaN
..          ...           ...
56         44.0        5300.0
57         45.0        6900.0
58         46.0        3700.0
59         47.0        5000.0
60         48.0        7200.0

[61 rows x 7 columns]

In [10]:
    # close connection
cursor.close()
connection.close()