In [1]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\thobe\anaconda3\envs\nlpcourse\lib\site-packages (1.1.0)

In [9]:
import pymysql.cursors
import pandas as pd
from typing import Union

In [10]:
host = 'den1.mysql6.gear.host'
db = 'situation'
usr = 'situation'
psword = 'cogni88.'

try:
    connection = pymysql.connect(host=host, user=usr, password=psword, database=db, cursorclass=pymysql.cursors.DictCursor)
except pymysql.Error as e:
    print(f"There's been an error: {e.args[0], e.args[1]}")

In [11]:
# querying the table
table = "p16_drug_target_data"
sql = f"SELECT * FROM {table}"


def query_data(type: str = "sql") -> Union[list[object], pd.DataFrame]:
    if type == "sql":
        try:
            with connection.cursor() as cursor:
                cursor.execute(sql)
                res = cursor.fetchall() # get results
                return res
        except pymysql.Error as e:
            print(f"There has been an error: {e.args[0], e.args[1]}")
            return []
        
    elif type == "dataframe":
        try:
            res = pd.read_sql(sql=sql, con=connection)
            return res
        except Exception as e:
            print(e)
            return []
        
    else:
        print("Type not found.")
        return []

In [12]:
# ts_from = "2022-01-14"
type = "sql"
ts_from = "2023-01-14"
ts_to = "2023-04-01"
df = query_data(type=type)

if type == "sql":
    for i in range(10):
        print(df[i])
else:
    print(df.head(10))

{'gene_id': 1, 'gene_name': 'GeneA', 'chromosome': 'Chr1', 'start_position': 1000, 'end_position': 2000, 'strand': '+', 'gene_expression': 0.8, 'drug_target': 1}
{'gene_id': 2, 'gene_name': 'GeneB', 'chromosome': 'Chr2', 'start_position': 3000, 'end_position': 4000, 'strand': '-', 'gene_expression': 0.6, 'drug_target': 0}
{'gene_id': 3, 'gene_name': 'GeneC', 'chromosome': 'Chr3', 'start_position': 5000, 'end_position': 6000, 'strand': '+', 'gene_expression': 0.9, 'drug_target': 1}
{'gene_id': 4, 'gene_name': 'GeneD', 'chromosome': 'Chr4', 'start_position': 7000, 'end_position': 8000, 'strand': '-', 'gene_expression': 0.3, 'drug_target': 0}
{'gene_id': 5, 'gene_name': 'GeneE', 'chromosome': 'Chr5', 'start_position': 9000, 'end_position': 10000, 'strand': '+', 'gene_expression': 0.7, 'drug_target': 1}
{'gene_id': 6, 'gene_name': 'GeneF', 'chromosome': 'Chr6', 'start_position': 11000, 'end_position': 12000, 'strand': '-', 'gene_expression': 0.5, 'drug_target': 0}
{'gene_id': 7, 'gene_name': 'GeneG', 'chromosome': 'Chr7', 'start_position': 13000, 'end_position': 14000, 'strand': '+', 'gene_expression': 0.2, 'drug_target': 0}
{'gene_id': 8, 'gene_name': 'GeneH', 'chromosome': 'Chr8', 'start_position': 15000, 'end_position': 16000, 'strand': '-', 'gene_expression': 0.85, 'drug_target': 1}
{'gene_id': 9, 'gene_name': 'GeneI', 'chromosome': 'Chr9', 'start_position': 17000, 'end_position': 18000, 'strand': '+', 'gene_expression': 0.4, 'drug_target': 0}
{'gene_id': 10, 'gene_name': 'GeneJ', 'chromosome': 'Chr10', 'start_position': 19000, 'end_position': 20000, 'strand': '-', 'gene_expression': 0.6, 'drug_target': 1}

In [17]:
with open("./data.txt", "w") as f:
    for line in df:
        f.write(str(line))
        f.write("\n")