In [1]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 501.8 kB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.0

In [2]:
import pymysql.cursors

In [9]:
host = 'den1.mysql6.gear.host'
db = 'situation'
usr = 'situation'
psword = 'cogni88.'

# Connect to the database
connection = pymysql.connect(host=host, user=usr, password=psword, database=db, cursorclass=pymysql.cursors.DictCursor)

In [10]:
import pandas as pd

In [14]:
sql = "SELECT MethodID FROM e5_cdb_analysis"

with connection.cursor() as cursor:
   cursor.execute(sql)
   # Fetch all the results
   results = cursor.fetchall()

  # Print the results
   for row in results:
      print(row)

connection.close()

{'MethodID': 1}
{'MethodID': 1}
{'MethodID': 1}
{'MethodID': 3}