In [12]:
import pandas as pd
from sqlalchemy import URL, create_engine

In [33]:
file_path_df = "data.csv"

# 1. Create connection to MySQL database

In [40]:
DATABASE_URI = URL.create(
    "mysql+pymysql",
    username="situation",
    password="cogni88.",  # plain (unescaped) text
    host="den1.mysql6.gear.host",
    database="situation",
)

In [41]:
engine = create_engine(DATABASE_URI)

# 2. Get Table as pandas DataFrame

In [42]:
df = pd.read_sql_table('j10_crystalmorphology', engine)
df.head()

   id                                             bitmap spacegroup
0   1  b'76,181,54,74,59,59,187,198,37,74,56,86,139,1...         P2
1   2  b'48,118,142,11,188,190,179,136,28,16,116,103,...         P2
2   3  b'148,102,46,195,120,63,85,123,88,98,119,204,1...         P2
3   4  b'142,131,92,86,1,148,78,145,92,191,184,44,85,...         P2
4   5  b'113,57,28,67,142,129,178,26,32,107,182,153,1...         P2

# 3. Save DataFrame as a file

In [43]:
df.to_csv(file_path_df, index=False)

# 4. Read In DataFrame from file

In [46]:
read_df = pd.read_csv(file_path_df)
read_df.head()

   id                                             bitmap spacegroup
0   1  b'76,181,54,74,59,59,187,198,37,74,56,86,139,1...         P2
1   2  b'48,118,142,11,188,190,179,136,28,16,116,103,...         P2
2   3  b'148,102,46,195,120,63,85,123,88,98,119,204,1...         P2
3   4  b'142,131,92,86,1,148,78,145,92,191,184,44,85,...         P2
4   5  b'113,57,28,67,142,129,178,26,32,107,182,153,1...         P2