In [1]:
#!pip install PyMySQL
#!pip install pandas

In [2]:
import pymysql.cursors
import pandas as pd

In [3]:
host = 'den1.mysql6.gear.host'
db = 'situation'
usr = 'situation'
psword = input()

# Connect to the database
connection = pymysql.connect(host=host, user=usr, password=psword, database=db, cursorclass=pymysql.cursors.DictCursor)

In [4]:
sql1 = "SELECT * FROM situation.i9_moleculeproperties"

with connection.cursor() as cursor:
    cursor.execute(sql1)
    ret = cursor.fetchall()
    molecule_prop_df = pd.DataFrame(ret)
    
molecule_prop_df.head(20)

    MoleculePropertyID  MoleculeID  PropertyID    Value
0                    1          14           1   151.16
1                    2          14           2        1
2                    3          14           3        1
3                    4          14           4        1
4                    5          14           5   100.00
5                    6          14           6        1
6                    7          14           7        1
7                   15          15           1   151.16
8                   16          15           2        2
9                   17          15           3        1
10                  18          15           4        1
11                  19          15           5  -161.00
12                  20          15           6        1
13                  21          15           7        1
14                  22          10           1   151.16
15                  23          10           2        2
16                  24          10           3        1
17                  25          10           4        1
18                  26          10           5    78.00
19                  27          10           6        1

In [5]:
sql2 = "SELECT * FROM situation.i9_properties"

with connection.cursor() as cursor:
    cursor.execute(sql2)
    ret = cursor.fetchall()
    properties_df = pd.DataFrame(ret)
    
properties_df.head(20)

   PropertyID      PropertyName UnitMeasurement
0           1  Molecular Weight           g/mol
1           2          Polarity            None
2           3        Solubility            None
3           4     Melting Point              째C
4           5     Boiling Point              째C
5           6           Density          g/cm^3
6           7        Reactivity            None

In [6]:
molecule_prop_df.shape

(63, 4)